.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  background-image: url("./Images/jacobyeung.jpg");
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.button {
  align-items: flex-start;
  display: "flex";
  justify-content: flex-start;
}

.image {
  height: 10vh;
}
