.title {
    font-size: '300%';
}
.subTitle {
    font-size: '150%';

}
.background {
    display: 'flex';
    background: #39393b;
    align-content: 'flex-start';
    justify-content: 'center';
    text-align: '-webkit-center';
    font-weight: 'normal';
    color: #D3D3D3
}

.button {
    background-color: 'grey';
    color: 'white';
    text-transform: 'capitalize';

}