.titleAbout {
    font-size: 300%;
}
.subTitleAbout {
    font-size: 150%;

}

.rowAbout {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
    color: #D3D3D3;

}

.column1About {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    align-items: center;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 30px;
}
.column2About {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

.backgroundAbout {
    background: #39393b;
    color: #D3D3D3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 

.buttonAbout {
    background-color: inherit;
    color: white;
    text-transform: capitalize;
    border-width: 0;
    cursor: pointer;
}
.buttonAbout:hover {
    background-color: rgb(53, 53, 53)	
}
.buttonIconAbout {
    height: 10vh;
    filter: invert(80%);
}