.title {
    font-size: 5vh;
    text-align: left;
    padding-top: 5vh;
    padding-left: 5vh;
    color: white;
    background-color: transparent
}

.subTitle {
    flex: 1;
    font-size: 4vh;
    text-align: left;
    padding: 5vh;
    background-color: transparent;
    color: white

};
.background {
    background: #39393b;
    min-height: 50vh;

};
.body {
    flex: 1;
    font-size: 3vh;
    color: #c6c7ca;
    text-align: left;
     padding: 5vh

};
.button {
    background-color: grey;
    color: white;
    text-transform: capitalize;

}