.title {
    font-size: 300%;
}
.rowTitle {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    flex-direction: row;
}

.subTitle {
    justify-content: flex-start;
    margin-block-start: 0px;
    width: 100%;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: center;
    flex-direction: row;
    margin-right: 20px;
}
.column1 {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.column2 {
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 20px
}
.ssTitle {
    display: flex;
    align-content: flex-start;
    width: 100%
}
.background {
    display: flex;
    height: fit-content;
    background: #dfdfdf;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.body {
    display: flex;
    color: black;
    text-align: flex-start;
    width: 100%;
}
.icon {
    display: flex;
    flex-direction: column;
    background: transparent;
    border-width: 0px;
    cursor: pointer;
}
.icon:hover {
    background-color: #D3D3D3;
}
.logo {
    display: flex;
    border-radius: 10%;
    width: 34vh;
    /* height: 100%; */
    margin: 15px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 10vh;
}

.buttons {
    height: 10vh;
}
.iconText {
    display: flex;
    justify-content: center;
    width: 100%;
}